@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  --body-font: "Inter", sans-serif;

  --background-color: #1f1f1f;
  --text-color: #f2f5ea;

  --border-color: var(--color-white);

  --color-black: #3d3d3d;
  --color-white: #f4ebe8;
  --color-blue: #9da4e7;
  --color-blueViolet: #6b76db;
  --color-blueStrong: #222a68;

  
  --Volume-Icon-Size: 16px;
  --Music-Controls-Size: 16px;
  --Music-Controls-Color: #bdbce7;
  --Music-Controls-Spacing: 13px;
  --Play-Button-Padding: 9px;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
}

