.logo-expand {
  text-decoration: none;
  color: var(--text-color);
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;

  padding: 10px 10px 10px 10px;
}
.logo-expand:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 200px;
  height: 70px;
  z-index: -1;
}
