:root {
  --body-font: "Inter", sans-serif;

  --background-color: #1F1F1F;
  --text-color: #f2f5ead6;

  --border-color: var(--color-white);

  --color-black: #3D3D3D;
  --color-white: #F4EBE8;
  --color-blue: #9DA4E7;
  --color-blueViolet: #6B76DB;
  --color-blueStrong: #222a68;
  --color-cinza: #ffffff81;

}

.playlist {
  font-size: 15px;
  letter-spacing: 0.07em;
  margin: 5px 5px 5px 15px;
  color: var(--text-color)
}

.playlist:hover {
  color: var(--color-cinza);
  cursor: pointer;
}